.navlogo {
  position: fixed;
  left: 20px;
  width: 100px;
  cursor: pointer;
  top: 20px;

}
.navContainer {
  display: flex;
  justify-content: space-between;
}

.nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 5;

    transition-timing-function: ease-in;
    transition:all 0.5s;
}
.navBlack {
  background-color: black;
 
}

.navavtar {
  position: fixed;
  right: 20px;
  width: 30px;
  cursor: pointer;
}
